
table {
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 50px;
  padding: 50px;
  text-align: center;
  cell-padding:10px;
}
td {
  overflow:hidden;
  text-overflow:ellipsis;
  border:1px solid blue;

  }
  tr:nth-child(even) {background-color: #79aec8}
  tr:nth-child(odd) {background-color:#417690 }

  .myButton {
    background: #004a7d;
    position: relative;
    top: 20px;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font: 12px Verdana;
    padding: 9px 15px 9px 15px;
    margin-left: 20px;
    font-size: 130%;
  }
  hr{
        margin-top: 25px;
      }


      form{
        display: inline-block;
        font-size: 18px;
      }
