
    table {
     table-layout: fixed;
     width: 100%;
     overflow: hidden;
     text-overflow: ellipsis;
     margin-bottom: 3%
   }
   td {
     overflow:hidden;
     text-overflow:ellipsis;
     /* border:1px solid blue */
     }

       tr:nth-child(even) {background-color: #79aec8}
       tr:nth-child(odd) {background-color:#417690 }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .container {
      text-align: center;
  padding: 2px 16px;
}
.palate{
  height: 160px;
  width: 140%;
  display: flex;
}
.number{
  width: 50%;
  text-align: center;
  padding: 1px;
  margin-top: 5%;
  color: #fff;
  margin-left: 25%;
  border-radius: 10px;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 8%;
  text-align: center;
  float: left;
  margin-left: 10px;
  font-size: 20px;
}

form{
}

table.filtertab{
  width:30%;
  border:none;
}
