{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block content %}

  <head>
  <link rel="stylesheet" href="{% static 'css/compview.css' %}">
    <meta charset="utf-8">
    <title>My Complaints</title>

  </head>
  <body>
    <h1> My Complaints </h1>
    <br>
    <table>
      <tr>
        <th>TOKEN</th>
        <th>Department</th>
        <th>Stream</th>
        <th>Status</th>
        <th>Registration Date</th>
        <th>Details</th>
    {% for complaint in complaints %}
    <tr>
        <td>{{complaint.token}}</td>
        <td>{{complaint.dept}}</td>
        <td>{{complaint.stream }}</td>
        <td>{{complaint.status}}</td>
        <td>{{complaint.date}} </td>
        <td>
          <form action="/dashboard/details/{{complaint.pk}}">
            <input class="resolvebutton"type="submit" value="Details">
          </form>
          <!-- <button id="myBtn" >Open Details</button> -->


        </td>
    </tr>
    {% endfor %}
  </table>

    <form action="{% url 'complaint-registration' %}">
  	    <input class="myButton" type="submit" value="Register Complaint"><br/>
    </form>

    <form action="{% url 'index' %}">
        <input class="myButton" type="submit" value="HOME"><br/>
    </form>

  </body>
{% endblock content %}

</html>
