{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block content %}
  <head>
  <link rel="stylesheet" href="{% static 'css/compreg.css' %}">
    <meta charset="utf-8">
    <title>Complaint Registration</title>

  </head>



  <body>

<div>

  <table >
  <h2> Welcome to complaint registration! </h2>
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
    {% for field in form %}
    <tbody>
    <tr>
      <td>
        <label class="small" for="{{ field.label }}" style="display:inline-block;vertical-align:middle ;float:bottom;">{{ field.label_tag }}</label>
      </td>
      <td>
        {{ field }}
      </td>
    </tr>
    {% endfor %}
    </tbody>



  </table>

<input class='myButton' type="submit" value="Submit" >
 </form>
  </body>
{% endblock content %}

</html>
