{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

{% block content %}

  <head>
   <link rel="stylesheet" href="{% static 'css/compdash.css' %}">
    <meta charset="utf-8">
    <title>Complaint Dashboard</title>

  </head>

  <body>

    <h1> Complaint Dashboard </h1>
    <hr>

    <form method='GET' action=''>
        {% csrf_token %}
        <!--{{ form.as_p }}-->
        <br>
        <div class="tablecontainer" >
        <table class="filtertableft">
          <td style="background:white; border:none;">
          <strong>Channel :</strong>
          </td>
        <td style="background:white; border:none;">
          <select name = "c">
            <option >All</option>
            <option >MeeSeva</option>
            <option >T-App Folio</option>
            <option >T-Wallet</option>
          </select>
        </td>
      </table>
      <table class="filtertabright">
        <td style="background:white; border:none;">
          <strong>Department :</strong>
        </td>
        <td style="background:white; border:none;">
          <select name = "d">
            <option >All</option>
            <option >Revenue</option>
            <option >Food And Civil Supplies</option>
            <option >GHMC</option>
            <option >Commercial Taxes</option>
            <option >SPDCL</option>
            <option >NPDCL</option>
            <option >Others</option>
          </select>
        </td>
      </table>
    </div>

        <input  class='resolvebutton' type="submit"  value="Filter" >

    </form>



    <hr>

<h1>Complaints to be reassigned</h1>
<p>Go to resolve complaint and change the status to unresolved before reassigning</p>

    <table>
      <tr>
        <th > Token</th>
        <!-- <th> Grievance</th> -->
        <th> Channel </th>
        <th> Department </th>
        <th> Resolved By</th>
        <th> Registration details</th>
        <th> SLE Date </th>
        <th> Resolve </th>
        <th> Assigned to</th>
        <th> Assign</th>

      </tr>


    {% for complaint in complaints_assgn %}
      {% if complaint.sle_date < dat %}
      <tr style="color: red">
        <td>{{complaint.token}}</td>
        <!-- <td>{{ complaint.complaint }} </td> -->
        <td>{{ complaint.channel }} </td>
        <td>{{ complaint.dept }} </td>
        <td>{{ complaint.resolved_by }}</td>
        <td> By {{ complaint.author.username }} at {{ complaint.date }}</td>
        <td>{{complaint.sle_date}}</td>
        <td>
          <form action="/dashboard/{{complaint.pk}}">
            <input type="submit" value="resolve" class="resolvebutton">
          </form>
        </td>
        <td>
          {{complaint.assigned_to}}
      </td>
      <td>
          <form method='GET' action=''>
              <select name="n" >
                  <option ></option>
                  {% for q in query%}
                  <option >{{q}}</option>
                  {% endfor%}

                </select>
                <p style="display:none">
                <select name="c" >
                  <option >{{complaint.id}}</option>
                </select>
              </p>
                <input type="submit" value="assign" class="resolvebutton">
                <br>
          </form>
      </td>

      </tr>
      {% else %}
      <tr>
        <td>{{complaint.token}}</td>
        <!-- <td>{{ complaint.complaint }} </td> -->
        <td>{{ complaint.channel }} </td>
        <td>{{ complaint.dept }} </td>
        <td>{{ complaint.resolved_by }} at {{complaint.resolved_date}}</td>
        <td> By {{ complaint.author.username }} at {{ complaint.date }}</td>
        <td>{{complaint.sle_date}}</td>
        <td>
          <form action="/dashboard/{{complaint.pk}}">
            <input type="submit" value="resolve">
          </form>
        </td>
        <td>
            {{complaint.assigned_to}}
        </td>
        <td>
            <form method='GET' action=''>
                <select name="n" >
                    <option ></option>
                    {% for q in query%}
                    <option >{{q}}</option>
                    {% endfor%}

                  </select>

                  <p style="display:none">
                  <select name="c" >
                    <option >{{complaint.id}}</option>
                  </select>
                </p>

                  <input type="submit" value="assign">

            </form>
        </td>
      </tr>
      {% endif %}

    {% endfor %}
  </table>

<h1>Unresolved complaints</h1>

    <table>
      <tr>
        <th > Token</th>
        <!-- <th> Grievance</th> -->
        <th> Channel </th>
        <th> Department </th>
        <th> Resolved By</th>
        <th> Registration details</th>
        <th> SLE Date </th>
        <th> Resolve </th>
        <th> Assigned to</th>
        <th> Assign</th>

      </tr>


    {% for complaint in complaints_unre %}
      {% if complaint.sle_date < dat %}
      <tr style="color: red">
        <td>{{complaint.token}}</td>
        <!-- <td>{{ complaint.complaint }} </td> -->
        <td>{{ complaint.channel }} </td>
        <td>{{ complaint.dept }} </td>
        <td>{{ complaint.resolved_by }}</td>
        <td> By {{ complaint.author.username }} at {{ complaint.date }}</td>
        <td>{{complaint.sle_date}}</td>
        <td>
          <form action="/dashboard/{{complaint.pk}}">
            <input type="submit" value="resolve" class="resolvebutton">
          </form>
        </td>
        <td>
          {{complaint.assigned_to}}
      </td>
      <td>
          <form method='GET' action=''>
              <select name="n" >
                  <option ></option>
                  {% for q in query%}
                  <option >{{q}}</option>
                  {% endfor%}

                </select>
                <p style="display:none">
                <select name="c" >
                  <option >{{complaint.id}}</option>
                </select>
              </p>
                <input type="submit" value="assign" class="resolvebutton">
                <br>
          </form>
      </td>

      </tr>
      {% else %}
      <tr>
        <td>{{complaint.token}}</td>
        <!-- <td>{{ complaint.complaint }} </td> -->
        <td>{{ complaint.channel }} </td>
        <td>{{ complaint.dept }} </td>
        <td>{{ complaint.resolved_by }}</td>
        <td> By {{ complaint.author.username }}</td>
        <td>{{complaint.sle_date}}</td>
        <td>
          <form action="/dashboard/{{complaint.pk}}">
            <input type="submit" value="resolve" class="resolvebutton">
          </form>
        </td>
        <td>
            {{complaint.assigned_to}}
        </td>
        <td>
            <form method='GET' action=''>
                <select name="n" >
                    <option ></option>
                    {% for q in query%}
                    <option >{{q}}</option>
                    {% endfor%}

                  </select>

                  <p style="display:none">
                  <select name="c" >
                    <option >{{complaint.id}}</option>
                  </select>
                </p>

                  <input type="submit" value="assign" class="resolvebutton">

            </form>
        </td>
      </tr>
      {% endif %}

    {% endfor %}
  </table>

  <h1>Resolved Complaints</h1>
  <table>
    <tr>
      <th>Token</th>
      <th>Channel</th>
      <th>Department</th>
      <th>Resolved By</th>
      <th>Registration Details</th>
      <th>Resolved Date</th>
      <th>Details</th>
    </tr>
    {% for complaint in complaints_re %}
      <tr>


      <td>{{complaint.token}}</td>
      <!-- <td>{{ complaint.complaint }} </td> -->
      <td>{{ complaint.channel }} </td>
      <td>{{ complaint.dept }} </td>
      <td>{{ complaint.resolved_by }}</td>
      <td> By {{ complaint.author.username }} at {{ complaint.date }}</td>
      <td>{{ complaint.resolved_date }}</td>

      <td>
        <form action="/dashboard/details/{{complaint.pk}}">
          <input type="submit" value="Details" class="resolvebutton">
        </form>
      </td>

      <tr>

    {% endfor %}


  </table>

<hr>
    <form action="{% url 'index' %}">
        <input style="margin-bottom: 70px;" type="submit" class="myButton" value="HOME"><br/>
    </form>

  </body>
{% endblock content %}

</html>
