{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block content %}
  <head>
  <link rel="stylesheet" href="{% static 'css/compred.css' %}">
    <meta charset="utf-8">
    <title>Complaint Registration</title>

  </head>



  <body>
    <h1>Complaint Details</h1>
        <p><b>Token:</b> {{comp.token}}</p>
        <p><b>Channel:</b> {{ comp.channel }}</p>
        <p><b>Department:</b> {{comp.dept}}</p>
        <p><b>Stream:</b> {{ comp.stream }}</p>
        <p><b>Status:</b> {{comp.status}}</p>
        <p><b>Grievance:</b> {{ comp.complaint }} </p>
        <p> <b>By</b> {{ comp.author.username }} <b>on</b> {{ comp.date }}</p>

        {% if comp.image %}
          <a href ="../media/{{ comp.image }}" >Attached Image</a>
        {% endif %}

        {% if comp.file %}
          <a href= "../media/{{ comp.file }}">Attatched File</a>
        {% endif %}
        <hr>
        <h1>Resolve</h1>
    <form method='post'>
        {% csrf_token %}
        <p > <b>Resolution:</b> {{ form.resolution }}</p>
        <p ><b> Status:</b> {{form.status}}</p>
        <p>{{form.submit}}</p>

        <input class='button' type="submit" value="Submit"  href="{% url 'sendmail' %}">
    </form>



  </body>
{% endblock content %}

</html>
