{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Successfully Registered!</title>
  </head>
  <body>
    {% if form %}
      <h1> Complaint Registered </h1>
      <h3>You can access your complaint through token id {{form.token}}. </h3>
      <ul>
        <li>Complaint: {{form.complaint}} </li>
        <li>Department: {{form.dept}}</li>
        <li>Stream: {{ form.stream }}</li>
        <li>Status: {{ form.status}}</li>
        {% if form.image %}
          <li><a href ="../media/{{ form.image }}" >Attached Image</a></li>
        {% endif %}

        {% if form.file %}
          <li><a href= "../media/{{ form.file }}">Attatched File</a></li>
        {% endif %}
        <li>Registered on: {{form.date}} </li>
        <li>Author: {{form.author.username}}</li>
      </ul>
       <p> !! DO NOT REFRESH THIS PAGE !! </p>
    {% else %}
      <h1> Your Complaint has been registered.</h1>
      <p> You can check it <a href="{% url 'mycomplaints' %}">Here </a></p>
    {% endif %}
    <form action="{% url 'complaint-registration' %}">
		    <input type="submit" class="myButton" value="Register another"><br/>
	  </form>

    <form action="{% url 'index' %}">
        <input type="submit" class="myButton" value="HOME"><br/>
    </form>

  </body>

{% endblock %}
</html>
