{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

{% block content %}

  <head>
   <link rel="stylesheet" href="{% static 'css/compdash.css' %}">
    <meta charset="utf-8">
    <title>Complaint Dashboard</title>

  </head>

  <body>

    <h1> Complaint Dashboard </h1>
    <hr>

    <form method='GET' action=''>
        {% csrf_token %}
        <!--{{ form.as_p }}-->
        <strong>Channel</strong>
        <select name = "c">
          <option >All</option>
          <option >MeeSeva</option>
          <option >T-App Folio</option>
          <option >T-Wallet</option>
        </select>

        <strong>Department</strong>
        <select name = "d">
          <option >All</option>
          <option >Revenue</option>
          <option >Food And Civil Supplies</option>
          <option >GHMC</option>
          <option >Commercial Taxes</option>
          <option >SPDCL</option>
          <option >NPDCL</option>
          <option >Others</option>
        </select>
        <input class='button' type="submit"  value="Filter" >

    </form>



    <hr>

<h1>Complaints to be reassigned</h1>
<p>Go to resolve complaint and change the status to unresolved before reassigning</p>

    <table>
      <tr>
        <th > Token</th>
        <!-- <th> Grievance</th> -->
        <th> Channel </th>
        <th> Department </th>
        <th> Resolved By</th>
        <th> Registration details</th>
        <th> SLE Date </th>
        <th> Resolve </th>
        <th> Assigned to</th>
        <th> Assign</th>

      </tr>


    {% for complaint in complaints_assgn %}
      {% if complaint.sle_date < dat %}
      <tr style="color: red">
        <td>{{complaint.token}}</td>
        <!-- <td>{{ complaint.complaint }} </td> -->
        <td>{{ complaint.channel }} </td>
        <td>{{ complaint.dept }} </td>
        <td>{{ complaint.resolved_by }}</td>
        <td> By {{ complaint.author.username }} at {{ complaint.date }}</td>
        <td>{{complaint.sle_date}}</td>
        <td>
          <form action="/dashboard/{{complaint.pk}}">
            <input type="submit" value="resolve">
          </form>
        </td>
        <td>
          {{complaint.assigned_to}}
      </td>
      <td>
          <form method='GET' action=''>
              <select name="n" >
                  <option ></option>
                  {% for q in query%}
                  <option >{{q}}</option>
                  {% endfor%}

                </select>
                <p style="display:none">
                <select name="c" >
                  <option >{{complaint.id}}</option>
                </select>
              </p>
                <input type="submit" value="assign">
                <br>
          </form>
      </td>

      </tr>
      {% else %}
      <tr>
        <td>{{complaint.token}}</td>
        <!-- <td>{{ complaint.complaint }} </td> -->
        <td>{{ complaint.channel }} </td>
        <td>{{ complaint.dept }} </td>
        <td>{{ complaint.resolved_by }} at {{complaint.resolved_date}}</td>
        <td> By {{ complaint.author.username }} at {{ complaint.date }}</td>
        <td>{{complaint.sle_date}}</td>
        <td>
          <form action="/dashboard/{{complaint.pk}}">
            <input type="submit" value="resolve">
          </form>
        </td>
        <td>
            {{complaint.assigned_to}}
        </td>
        <td>
            <form method='GET' action=''>
                <select name="n" >
                    <option ></option>
                    {% for q in query%}
                    <option >{{q}}</option>
                    {% endfor%}

                  </select>

                  <p style="display:none">
                  <select name="c" >
                    <option >{{complaint.id}}</option>
                  </select>
                </p>

                  <input type="submit" value="assign">

            </form>
        </td>
      </tr>
      {% endif %}

    {% endfor %}
  </table>

<h1>Unresolved complaints</h1>

    <table>
      <tr>
        <th > Token</th>
        <!-- <th> Grievance</th> -->
        <th> Channel </th>
        <th> Department </th>
        <th> Resolved By</th>
        <th> Registration details</th>
        <th> SLE Date </th>
        <th> Resolve </th>
        <th> Assigned to</th>
        <th> Assign</th>

      </tr>


    {% for complaint in complaints_unre %}
      {% if complaint.sle_date < dat %}
      <tr style="color: red">
        <td>{{complaint.token}}</td>
        <!-- <td>{{ complaint.complaint }} </td> -->
        <td>{{ complaint.channel }} </td>
        <td>{{ complaint.dept }} </td>
        <td>{{ complaint.resolved_by }}</td>
        <td> By {{ complaint.author.username }} at {{ complaint.date }}</td>
        <td>{{complaint.sle_date}}</td>
        <td>
          <form action="/dashboard/{{complaint.pk}}">
            <input type="submit" value="resolve">
          </form>
        </td>
        <td>
          {{complaint.assigned_to}}
      </td>
      <td>
          <form method='GET' action=''>
              <select name="n" >
                  <option ></option>
                  {% for q in query%}
                  <option >{{q}}</option>
                  {% endfor%}

                </select>
                <p style="display:none">
                <select name="c" >
                  <option >{{complaint.id}}</option>
                </select>
              </p>
                <input type="submit" value="assign">
                <br>
          </form>
      </td>

      </tr>
      {% else %}
      <tr>
        <td>{{complaint.token}}</td>
        <!-- <td>{{ complaint.complaint }} </td> -->
        <td>{{ complaint.channel }} </td>
        <td>{{ complaint.dept }} </td>
        <td>{{ complaint.resolved_by }}</td>
        <td> By {{ complaint.author.username }}</td>
        <td>{{complaint.sle_date}}</td>
        <td>
          <form action="/dashboard/{{complaint.pk}}">
            <input type="submit" value="resolve">
          </form>
        </td>
        <td>
            {{complaint.assigned_to}}
        </td>
        <td>
            <form method='GET' action=''>
                <select name="n" >
                    <option ></option>
                    {% for q in query%}
                    <option >{{q}}</option>
                    {% endfor%}

                  </select>

                  <p style="display:none">
                  <select name="c" >
                    <option >{{complaint.id}}</option>
                  </select>
                </p>

                  <input type="submit" value="assign">

            </form>
        </td>
      </tr>
      {% endif %}

    {% endfor %}
  </table>

  <h1>Resolved Complaints</h1>
  <table>
    <tr>
      <th>TOKEN</th>
      <th>CHANNEL</th>
      <th>DEPARTMENT</th>
      <th>RESOLVED BY</th>
      <th>REGISTRATION DETAILS</th>
      <th>RESOLVED DATE</th>
      <th>DETAILS</th>
    </tr>
    {% for complaint in complaints_re %}
      <tr>


      <td>{{complaint.token}}</td>
      <!-- <td>{{ complaint.complaint }} </td> -->
      <td>{{ complaint.channel }} </td>
      <td>{{ complaint.dept }} </td>
      <td>{{ complaint.resolved_by }}</td>
      <td> By {{ complaint.author.username }} at {{ complaint.date }}</td>
      <td>{{ complaint.resolved_date }}</td>

      <td>
        <form action="/dashboard/details/{{complaint.pk}}">
          <input type="submit" value="Details">
        </form>
      </td>

      <tr>

    {% endfor %}


  </table>

<hr>
    <form action="{% url 'index' %}">
        <input style="margin-bottom: 70px;" type="submit" class="myButton" value="HOME"><br/>
    </form>

  </body>
{% endblock content %}

</html>
