{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

{% block content %}

  <head>
    <meta charset="utf-8">
    <title>Manager Dashboard</title>
   <link rel="stylesheet" href="{% static 'css/mngr.css' %}">
  </head>

  <body>

    <h1> Manager Dashboard </h1>
    <hr>
    <div class = 'palate'>
    <div class="card">
      <div class="number" style="background: #008ae6;">
        <p><strong>
          {% if total %}
            {{total}}
          {% else %}
            0
          {% endif %}
        </strong></p>
      </div>
      <div class="container">
        <h4><b>Total</b></h4>
      </div>
    </div>

    <div class="card">
      <div class="number" style="background: #00b300; ">
        <p><strong>
          {% if c2 %}
            {{c2}}
          {% else %}
            0
          {% endif %}
        </strong></p>
      </div>
      <div class="container">
        <h4><b>Resolved</b></h4>
      </div>
    </div>

    <div class="card">
      <div class="number" style="background: #ff9900;">
        <p><strong>
          {% if c1 %}
            {{c1}}
          {% else %}
            0
          {% endif %}
        </strong></p>
      </div>
      <div class="container">
        <h4><b>Pending</b></h4>
      </div>
    </div>

    <div class="card">
      <div class="number" style="background: #993300;">
        <p><strong>
          {% if c6 %}
            {{c6}}
          {% else %}
            0
          {% endif %}
        </strong></p>
      </div>
      <div class="container">
        <h4><b>Reassign</b></h4>
      </div>
    </div>

    <div class="card">
      <div class="number" style="background: #cc2900; ">
        <p><strong>
          {% if c3 %}
            {{c3}}
          {% else %}
            0
          {% endif %}
        </strong></p>
      </div>
      <div class="container">
        <h4><b>Beyond SLA</b></h4>
      </div>
    </div>

    <div class="card">
      <div class="number" style="background: #b30059; ">
        <p><strong>
          {% if c4 %}
            {{c4}}
          {% else %}
            0
          {% endif %}
        </strong></p>
      </div>
      <div class="container">
        <h4><b>Within SLA</b></h4>
      </div>
    </div>



    <div class="card">
      <div class="number" style="background: #ffff00; ">
        <p><strong>
          {% if c5 %}
            {{c5}}
          {% else %}
            0
          {% endif %}
        </strong></p>
      </div>
      <div class="container">
        <h4><b>Spam</b></h4>
      </div>
    </div>
  </div>


<hr>

    <form method='GET' action=''>
        {% csrf_token %}
<table class="filtertab">
<div>
        <tr><td style="height:30px;background:white"><strong>Channel:</strong></td>
        <td style="height:30px;background:white"><select name = "c">
          <option >All</option>
          <option >MeeSeva</option>
          <option >T-App Folio</option>
          <option >T-Wallet</option>
        </select>
      </td>
      </tr>
</div>
<div>
    <tr>  <td style="height:30px;background:white">  <strong>Department:</strong></td>
      <td style="height:30px;background:white">  <select name = "d">
          <option >All</option>
          <option >Revenue</option>
          <option >Food And Civil Supplies</option>
          <option >GHMC</option>
          <option >Commercial Taxes</option>
          <option >SPDCL</option>
          <option >NPDCL</option>
          <option >Others</option>
        </select>
      </td>
    </tr>
</div>
<div>
      <tr>
      <td style="height:30px;background:white">  <strong>From:</strong> </td>
      <td style="height:30px;background:white">  <input type="date" name="date1"></td>
    </tr>
</div>
<div>
      <tr><td style="height:30px;background:white">  <strong>To:</strong></td>
        <td style="height:30px;background:white"><input type="date" name="date2"></td>
      </tr>
</div>
<div>
      <tr>
        <td style="height:30px;background:white">  <strong>User:</strong></td>
      <td style="height:30px;background:white">  <select name="n" >
          <option >All</option>
          {% for q in query%}
          <option >{{q}}</option>
          {% endfor%}

        </select>
      </td>
    </tr>
</div>
</table>
        <br>
        <input class='button' type="submit"  value="Filter" >

    </form>





    <hr>
    <h1>Unresolved Complaints</h1>
    <table>
       <tr>
         <th> Token</th>
         <th> Channel </th>
         <th> Department </th>
         <th> Resolved By</th>
         <th> Registration details</th>
         <th> Status</th>
         <th> SLA Date </th>
         <th>IP</th>
         <th> Resolve </th>

       </tr>
       {% for complaint in complaints_assgn %}
         {% if complaint.sle_date < dat %}
         <tr style="color: red">
           <td>{{complaint.token}}</td>
           <td>{{ complaint.channel }} </td>
           <td>{{ complaint.dept }} </td>
           <td>{{ complaint.resolved_by}}</td>
           <td> By {{ complaint.author.username }} at {{ complaint.date }}</td>
           <td>{{complaint.status}}</td>
           <td>{{complaint.sle_date}}</td>
           <td>
             <form action="/dashboard/{{complaint.pk}}">
               <input class="resolvebutton" type="submit" value="resolve">
             </form>
           </td>

         </tr>
         {% else %}
         <tr>
           <td>{{complaint.token}}</td>
           <td>{{ complaint.channel }} </td>
           <td>{{ complaint.dept }} </td>
           <td>{{ complaint.resolved_by}} at {{complaint.resolved_date}}</td>
           <td> By {{ complaint.author.username }} at {{ complaint.date }}</td>
           <td>{{complaint.status}}</td>
           <td>{{complaint.sle_date}}</td>
           <td>
             <form action="/dashboard/{{complaint.pk}}">
               <input class="resolvebutton"type="submit" value="resolve">
             </form>
           </td>
         </tr>
         {% endif %}

      {% endfor %}

     {% for complaint in complaints_unre %}
       {% if complaint.sle_date < dat %}
       <tr style="color: red">
         <td>{{complaint.token}}</td>
         <td>{{ complaint.channel }} </td>
         <td>{{ complaint.dept }} </td>
         <td>{{ complaint.resolved_by}}</td>
         <td> By {{ complaint.author.username }} at {{ complaint.date }}</td>
         <td>{{complaint.status}}</td>
         <td>{{complaint.sle_date}}</td>
         <td>{{complaint.ip}}</td>
         <td>
           <form action="/dashboard/{{complaint.pk}}">
             <input class="resolvebutton" type="submit" value="resolve">
           </form>
         </td>

       </tr>
       {% else %}
       <tr>
         <td>{{complaint.token}}</td>
         <td>{{ complaint.channel }} </td>
         <td>{{ complaint.dept }} </td>
         <td>{{ complaint.resolved_by}} at {{complaint.resolved_date}}</td>
         <td> By {{ complaint.author.username }} at {{ complaint.date }}</td>
         <td>{{complaint.status}}</td>
         <td>{{complaint.sle_date}}</td>
         <td>{{complaint.ip}}</td>
         <td>
           <form action="/dashboard/{{complaint.pk}}">
             <input class="resolvebutton"type="submit" value="resolve">
           </form>
         </td>
       </tr>
       {% endif %}

     {% endfor %}
     </table>

    <h1>Resolved Complaints</h1>
      <table>
      <tr>
        <th> Token</th>
        <th> Channel </th>
        <th> Department </th>
        <th> Resolved By</th>
        <th> Registration details</th>
        <th> Status</th>
        <th> Resolved Date </th>
        <th>IP</th>
        <th> Resolve Date</th>
      </tr>
     {% for complaint in complaints_re %}
       <tr>


       <td>{{complaint.token}}</td>
       <td>{{ complaint.channel }} </td>
       <td>{{ complaint.dept }} </td>
       <td>{{ complaint.resolved_by}} at {{complaint.resolved_date}}</td>
       <td> By {{ complaint.author.username }} at {{ complaint.date }}</td>
       <td>{{complaint.status}}</td>
       <td>{{complaint.resolved_date}}</td>
       <td>{{complaint.ip}}</td>
       <td> <form action="/dashboard/details/{{complaint.pk}}">
           <input class="resolvebutton"type="submit" value="Details">
         </form> </td>
       </tr>

     {% endfor %}

     {% for complaint in complaints_spam %}
       <tr>


       <td>{{complaint.token}}</td>
       <td>{{ complaint.channel }} </td>
       <td>{{ complaint.dept }} </td>
       <td>{{ complaint.resolved_by}} at {{complaint.resolved_date}}</td>
       <td> By {{ complaint.author.username }} at {{ complaint.date }}</td>
       <td>{{complaint.status}}</td>
       <td>{{complaint.sle_date}}</td>
       <td> <form action="/dashboard/details/{{complaint.pk}}">
           <input class="resolvebutton"type="submit" value="Details">
         </form> </td>

       <tr>

     {% endfor %}


   </table>

<hr>
    <form action="{% url 'index' %}">
        <input type="submit" value="HOME"><br/>
    </form>
    <!-- <footer>
      <a>&copy; Powered by ESD </a>
    </footer> -->
  </body>

{% endblock content %}

</html>
