{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block content %}

  <head>
    <meta charset="utf-8">
    <title>My Complaints</title>
    <style type = "text/css">
  .myButton {
    background: #004a7d;
    position: relative;
    top: 20px;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font: 12px Verdana;
    padding: 9px 15px 9px 15px;
    margin-left: 20px;
    font-size: 130%;
  }
  table, td{
    padding: 8px;
    font-size: 16px;
  }
  </style>
  </head>
  <body>

    <h1> My profile    </h1>
    <hr>
    <table>
      <tr><td> First Name:</td> <td> {{details.first_name}} </td> </tr>
      <tr><td> Last Name: </td> <td>{{details.last_name}} </tr></td>
      <tr><td> Email:</td> <td> {{details.email}} </td> </tr>
      <tr><td> Phone number: </td> <td>{{details.phone}}</td> </tr>
      <tr><td> House Number: </td> <td>{{details.housenumber}} </td> </tr>
      <tr><td> Locality: </td> <td>{{details.locality}} </td> </tr>
      <tr><td> Village: </td> <td>{{details.village}} </td> </tr>
      <tr><td> Mandal: </td> <td>{{details.mandal}} </td> </tr>
      <tr><td> District: </td> <td>{{details.district}} </td> </tr>
      <tr><td> Pincode: </td> <td>{{details.pincode}} </td> </tr>
    </table>
    <hr>
    <a href="{% url 'edit' %}" class="myButton">Edit profile</a>
    <a href ="{% url 'edit-password' %}" class="myButton">Change Password</a>
    <br><br><br>

    <hr>
  </body>
{% endblock content %}

</html>
